<!DOCTYPE html "Hacking Articles">
<html>
    <head>
        <meta charset="utf-8">
        <title>Gerard Braad - Articles{% if page.title %} - {{ page.title }}{% endif %}</title>
        <link rel="stylesheet" href="//cdn.gbraad.nl/3rdparty/bootstrap.min.css">
        <link rel="stylesheet" href="//cdn.gbraad.nl/3rdparty/bootswatch-cyborg.min.css">
    </head>
    <body>
        <div id="main-wrapper" class="container body-content">
            {{content}}
        </div>
	<script src="//cdn.gbraad.nl/3rdparty/jquery.min.js"></script>
        <script src="//cdn.gbraad.nl/3rdparty/bootstrap.min.js"></script>
    </body>
</html>
